*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

/*REGOLE GENERICHE*/
.bold{
  font-weight: bold;
}
.green{
  background-color: #7fb802;
}
.font_green{
  color: #7fb802;
}
nav a{
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}
.ret_grigi{
  background-color: #F9F9F9;
  padding: 20px;
}

.center{
  text-align: center;
}

.container{
  width: 80%;
  margin: auto;
}

.bottone{
  padding: 10px;
  color: white;
  font-size: 13px;
  border-radius: 3px;
  border: none;
  font-weight: bold;
}
.bottone_medio{
  padding: 8px 10px;
  font-size: 12px;
}
.bottone_trasparente{
  background: transparent;
  border: 1px solid #4e8cb6;
}
.float_left{
  float: left;
}
.float_right{
  float:right;
}
/*REGOLE CSS HEADER*/
header{
  background-image: url(img/vecchi.JPG);
  background-position: bottom right;
  background-color: #0D325A;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 500px;
}
.logo{
  float: left;
}
nav{
  margin-left: 20px;
  float: left;
  width: 50%;
}
.nav_row{
  line-height: 38px;
  padding: 20px 0 50px;
}
header ul {
  list-style: none;
}
header ul li{
  display: inline-block;
  padding: 7px;
}
.nav_row::after{
  content: "";
  display: table;
  clear: both;
}
.div_bottoni{
  float: right;
  padding: 7px;
}
nav a:hover{
  color: orange;
}
.celeste{
  color: #4e8cb6;
  font-weight: bold;
  font-size: 12px;
  padding-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}
.div_centrale{
  margin-top: 50px;
  font-size: 20px;
  width: 50%;
  color: white;
}
div.div_centrale input.bottone{
  margin-top:30px;
}

/*INIZIO SECONDA SLIDE*/

div.ret_grigi p:first-child{
  font-size: 24px;
  margin-bottom: 10px;
}

.stile_p{
  font-size: 14px;
  line-height: 30px;
}
.padding_top{
  padding-top: 10px;
}
.claerfix::after{
  content: "";
  display: table;
  clear: both;
}
.widget{
  width: 32%;
  float: left;
  text-align: center;
  padding: 3%;
}
.img{
  width: 30%;
  margin: 5% 2% 3% 15%;
}
#descrizione{
  width:35%;
  padding: 10% 0 0 3%;
  font-size: 18px;
}
h1{
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
}
#descrizione a{
  font-size: 14px;
  color: #98c8f8;
}
#parte_dx{
  width: 45%;
  line-height: 3;
}
#parte_dx h2{
  display: inline-block;
  padding-right: 3%;
}
#parte_sx{
  width: 30%;
  margin-left: 5%;
}
#parte_dx input{
  height: 30px;
  margin: 5px;
}
