*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*REGOLE GENERICHE*/

.green{
  background-color: #7fb802;
}

nav a{
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}

.ret_grigi{
  height: 200px;
  background-color: #A9A7AA;
}

.center{
  text-align: center;
}

.container{
  width: 80%;
  margin: auto;
}

.bottone{
  padding: 10px;
  color: white;
  font-size: 13px;
  border-radius: 3px;
  border: none;
  font-weight: bold;
}

.bottone_medio{
  padding: 5px 10px;
  font-size: 12px;
}

.bottone_trasparente{
  background: transparent;
  border: 1px solid #4e8cb6;
}

/*REGOLE CSS HEADER*/
header{
  background-image: url(img/vecchi.JPG);
  background-position: bottom right;
  background-color: #0D325A;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 500px;
}

.logo{
  float: left;
}

nav{
  float: left;
  width: 50%;
}

.nav_row{
  line-height: 38px;
  padding: 20px 0 50px;
}

header ul {
  list-style: none;
}

header ul li{
  display: inline-block;
  padding: 7px;
}

.nav_row::after{
  content: "";
  display: table;
  clear: both;
}

.div_bottoni{
  float: right;
  padding: 7px;
}

nav a:hover{
  color: orange;
}

.celeste{
  color: #4e8cb6;
  font-weight: bold;
  font-size: 12px;
  padding-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}
/*INIZIO SECONDA SLIDE*/
